:root {
    --color-primary: #ff6e40;
    --color-back-light: #ECEFF1;
    --color-back-dark: #37474f;
    --spacer-base: 1em;
    --card-font-size: 90%;
    --header-font-size: 32px;
    --header-height: 8em;
}
body {
    font-family:   Roboto, Arial, sans-serif;
    font-size: 1em;
    background-color: var(--color-back-light);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 var(--spacer-base);
    background-color: var(--color-back-dark);
    height: var(--header-height);

}
header h1 {
    margin: 0;   
    font-size: var(--header-font-size);
    color: white;
}
header h1 span {
    color: var(--color-primary);
}
figure {
    margin: 0;
    padding: 0;
}
button {
    display: inline-block;
    padding: 0.5em 1em;
    background-color: var(--color-primary);
    color: white;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
}

.cards{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
img {
    max-width: 100%;
    height: auto;
}
button:hover {
    box-shadow: drop-shadow(0 0 0.5rem rgba(0,0,0,0.5));
}

.card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
	background: white;
	margin-bottom: 2em;	
    padding: 0;
    width: 24%;
   
}

.card img {
    transition: filter 0.5s ease;
    transition: box-shadow 0.5s ease;
}

.card:hover img {
    filter: saturate(150%);
}

.card:hover {
    box-shadow: 10px 4px 8px rgba(196, 19, 19, 0.2);
}

.card button {
    opacity: 0;
    transition: opacity 1s ease;

}

.card:hover button {
    opacity: 1;
}

/* Truy vấn phương tiện cho màn hình máy tính bảng (481px đến 768px) */
@media (min-width: 481px) and (max-width: 768px) {
    .container .card {
        width: 45%; 
        --card-font-size: 100%;
        --header-height: 5em;
    }
}

/* Truy vấn phương tiện cho màn hình di động (dưới 480px) */
@media (max-width: 480px) {
    .container .card {
        width: 100%;
        /* Tăng kích thước font của thẻ */
        --card-font-size: 100%;
        /* Thu nhỏ kích thước và chiều cao của header */
        --header-font-size: 24px;
        --header-height: 4em;
    }
}

.card-content p {
	padding: 0.5em 1.4em 0 1.4em;
	font-size: var(--card-font-size);   
}
.card-actions {
	padding: 0.5em 1.4em;
	font-size: var(--card-font-size);      
}

.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}



/* add your styles here */




/* styles for mobile protrait screen */


/* styles for tablet portrait and mobile landscape screens */
